<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    {%- for cls in DTO %}
    <bean id="{{DTO[cls]['beanName']}}Dao" class="com.fingard.ats.core.db.{{project_name}}.dao.impl.{{cls}}DaoImpl"/>
    {%- endfor %}
</beans>